.panel-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 20px 0 20px;
  width: 80%;
  height: 85%;
  background-color: gray;
  /* border: 1px solid black; */
}

.active-component {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
}

.hidden-component {
  background-color: #eee;
  font-size: 0;
}
